/**
 * @file
 */

.form-wrapper--ajaxin,
.form-wrapper--ajaxin * {
  box-sizing: border-box;
}

.form-wrapper--ajaxin .form-type-radio {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-width: 18%;
  min-height: 100px;
  margin: 4px;
  padding: 15px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #eaeaea;
}

.form-wrapper--ajaxin .form-type-radio label.option {
  display: block;
}

.form-wrapper--ajaxin .form-type-radio .field-prefix {
  display: block;
  min-height: 80px;
}
