/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxin ajaxin--cube-grid">
 *      <div class="sk"></div>
 *      <div class="sk"></div>
 *      <div class="sk"></div>
 *      <div class="sk"></div>
 *      <div class="sk"></div>
 *      <div class="sk"></div>
 *      <div class="sk"></div>
 *      <div class="sk"></div>
 *      <div class="sk"></div>
 *    </div>
 *
 * Spinner positions
 * 1 2 3
 * 4 5 6
 * 7 8 9
 */

.ajaxin.ajaxin--cube-grid {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.ajaxin--cube-grid .sk {
  float: left;
  width: 33%;
  height: 33%;
  -webkit-animation: skgridscaledelay 1.3s infinite ease-in-out;
  animation: skgridscaledelay 1.3s infinite ease-in-out;
}

.ajaxin--cube-grid .sk:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.ajaxin--cube-grid .sk:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.ajaxin--cube-grid .sk:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.ajaxin--cube-grid .sk:nth-child(4) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.ajaxin--cube-grid .sk:nth-child(5) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.ajaxin--cube-grid .sk:nth-child(6) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.ajaxin--cube-grid .sk:nth-child(7) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.ajaxin--cube-grid .sk:nth-child(8) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.ajaxin--cube-grid .sk:nth-child(9) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

/*
@-webkit-keyframes skgridscaledelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
  }
}
*/

@keyframes skgridscaledelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
  }
}
