/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxin ajaxin--pulse"></div>
 */

.ajaxin.ajaxin--pulse {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  -webkit-animation: skpulsescaleout 1s infinite ease-in-out;
  animation: skpulsescaleout 1s infinite ease-in-out;
  border-radius: 100%;
}

/*
@-webkit-keyframes skpulsescaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
*/

@keyframes skpulsescaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
