/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxin ajaxin--chasing-dots">
 *      <div class="sk1"></div>
 *      <div class="sk2"></div>
 *    </div>
 */

.ajaxin.ajaxin--chasing-dots {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  -webkit-animation: skchasingdotsrotate 2s infinite linear;
  animation: skchasingdotsrotate 2s infinite linear;
  text-align: center;
}

.ajaxin--chasing-dots .sk1,
.ajaxin--chasing-dots .sk2 {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 60%;
  height: 60%;
  -webkit-animation: skchasingdotsbounce 2s infinite ease-in-out;
  animation: skchasingdotsbounce 2s infinite ease-in-out;
  border-radius: 100%;
}

.ajaxin--chasing-dots .sk2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

/*
@-webkit-keyframes skchasingdotsrotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
*/

@keyframes skchasingdotsrotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
@-webkit-keyframes skchasingdotsbounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
*/

@keyframes skchasingdotsbounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
