/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxin ajaxin--double-bounce">
 *      <div class="sk1"></div>
 *      <div class="sk2"></div>
 *    </div>
 */

.ajaxin.ajaxin--double-bounce {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.ajaxin--double-bounce .sk1,
.ajaxin--double-bounce .sk2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: skdoublebounce 2s infinite ease-in-out;
  animation: skdoublebounce 2s infinite ease-in-out;
  opacity: 0.6;
  border-radius: 50%;
}

.ajaxin--double-bounce .sk2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

/*
@-webkit-keyframes skdoublebounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
*/

@keyframes skdoublebounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
