{#
/**
 * @file
 * Default theme implementation to display an ajaxin.
 *
 * Available variables:
 *   - attributes: An array of attributes.
 *   - items: An array of loading animation elements.
 *   - color: The skin color.
 *   - skin: The skin name.
 *   - config: The global config.
 *
 * @see template_preprocess_ajaxin()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'ajaxin-wrapper',
    'ajaxin-wrapper--inline',
    fs and color ? 'is-' ~ color|clean_class,
    fs ? 'ajaxin-wrapper--fs' : 'b-loader',
  ]
%}
{%
  set content_classes = [
    'ajaxin',
    skin ? 'ajaxin--' ~ skin|clean_class,
    color ? 'is-' ~ color|clean_class,
    is_bg ? 'is-bg'|clean_class,
    'circle' in skin ? 'is-trans',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if fs %}
    <div class="ajaxin-wrapper__progress sk">&nbsp;</div>
  {% endif %}

  <div aria-label="{{ 'Loading animation'|t }}" aria-hidden="true"{{ content_attributes.addClass(content_classes) }}>
    {% if items %}
      {% for item in items %}
        <span{{ item.attributes }}></span>
      {% endfor %}
    {% endif %}
  </div>
</div>
